<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>home_cliente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="{{ url_for('static',filename='js/carrusel.js') }}"></script>
</head>
<body>

<header class="header">
    <img src="{{ url_for('static', filename='img/logo.jpg')}}">
    <input class="search" type="text" placeholder="Buscar por código o nombre de producto y pedido">
    <div class="user-badge">
        <div class="dropdown">
            <span>Hola, Giovanny</span>
            <button class="dropbtn"> ▼ </button>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="logout" class="logout">Cerrar sesión</a>
            </div>
        </div>
    </div>
</header>

<div class="layout">
    <aside class="sidebar">
        <div class="menu-lateral">
            <nav>
                <ul>
                    <li><a href='inicio'>Inicio</a></li>
                    <li><a href='pedidos_cliente'>Pedidos</a></li>
                    <li><a href='productos_cliente'>Productos</a></li>
                    <li><a href='pedidos_progra_cliente'>Pedidos Programados</a></li>
                </ul>
            </nav>
    </div>
    </aside>

<main class="content">

<div class="carousel-container">

        <!-- CARRUSEL -->
        <div class="carousel">

            <!-- IMAGEN 1 -->
            <div class="slide active">

                <img src="{{ url_for('static',
                filename='img/pan-yellow.jpg') }}"
                alt="Producto 1"
                class="imgCarrusel">

            </div>

            <!-- IMAGEN 2 -->
            <div class="slide">

                <img src="{{ url_for('static',
                filename='img/pony malta.jpg') }}"
                alt="Producto 2"
                class="imgCarrusel">

            </div>

            <!-- IMAGEN 3 -->
            <div class="slide">

                <img src="{{ url_for('static',
                filename='img/producto3.jpg') }}"
                alt="Producto 3"
                class="imgCarrusel">

            </div>

        </div>


        <!-- BOTONES -->

        <button class="btnCarrusel prev">
            ❮
        </button>

        <button class="btnCarrusel next">
            ❯
        </button>


        <!-- INDICADORES -->

        <div class="indicadores">

            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>

        </div>

    </div>

</main>
</div>
<div class="containerCliente">
    <div class="pedido-actual">
        <h2>Estado del Pedido Actual</h2>
        <div class="tracking">

        <!-- Paso 1 -->
        <div class="step completed">
            <div class="circle">✓</div>
            <div class="info">
                <h4>Preparación</h4>
                <p>Productos empacados</p>
            </div>
        

        <div class="line active"></div>

        <!-- Paso 2 -->
        <div class="step completed">
            <div class="circle">✓</div>
            <div class="info">
                <h4>Despacho</h4>
                <p>En puerto de origen</p>
            </div>
        </div>

        <div class="line active"></div>

        <!-- Paso 3 -->
        <div class="step current">
            <div class="circle">3</div>
            <div class="info">
                <h4>En Ruta</h4>
                <p>Tránsito marítimo</p>
            </div>
        </div>

        <div class="line"></div>

        <!-- Paso 4 -->
        <div class="step">
            <div class="circle">4</div>
            <div class="info">
                <h4>Entregado</h4>
                <p>Puerto destino</p>
            </div>
        </div>

    </div>

    <div class="detalle-envio">
        <strong>Contenedor:</strong>
        MSKU-4827193 •
        ETA: 15 Ene 2025 •
        Ruta: Shanghái → Callao
    </div>

</div>
    </div>
    <div class="containerfacturas">
    <div class="facturas-container">
    <h2>Facturas Pendientes</h2>
    <table>
        <thead>
            <tr>
                <th>Factura</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Vencimiento</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>INV-2024-0892</td>
                <td>28 Nov 2024</td>
                <td>$12,450.00</td>
                <td>28 Dic 2024</td>

                <td>
                    <span class="estado vencida">
                        Vencida
                    </span>
                </td>
            </tr>

            <tr>
                <td>INV-2024-0915</td>
                <td>10 Dic 2024</td>
                <td>$8,320.00</td>
                <td>10 Ene 2025</td>

                <td>
                    <span class="estado pendiente">
                        Pendiente
                    </span>
                </td>
            </tr>

            <tr>
                <td>INV-2024-0938</td>
                <td>20 Dic 2024</td>
                <td>$5,780.00</td>
                <td>20 Ene 2025</td>

                <td>
                    <span class="estado pendiente">
                        Pendiente
                    </span>
                </td>
            </tr>

        </tbody>

    </table>

    <div class="total-facturas">

        <span>Total por cancelar:</span>

        <strong>$26,550.00</strong>

    </div>

</div>>
</div>


</div>   
</body>
</html>
