<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>home_cliente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="https://kit.fontawesome.com/2be9443358.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="header">
    <img src="{{ url_for('static', filename='img/logo.jpg')}}">
    <input class="search" type="text" placeholder="Buscar por código o nombre de producto y pedido">
    <div class="user-badge">
        <div class="dropdown">
            <span>Hola, Giovanny</span>
            <button class="dropbtn"> ▼ </button>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="logout" class="logout">Cerrar sesión</a>
            </div>
        </div>
    </div>
</header>

<div class="layout">
    <aside class="sidebar">
        <div class="menu-lateral">
            <nav>
                <ul>
                    <li><a href='inicio'>Inicio</a></li>
                    <li><a href='pedidos_cliente'>Pedidos</a></li>
                    <li><a href='productos_cliente'>Productos</a></li>
                    <li><a href='pedidos_progra_cliente'>Pedidos Programados</a></li>
                </ul>
            </nav>
    </div>
    </aside>
    
    <main class="content">  
    <div id="contentItemsCarrusel">
        <div class="medio-container">
            <div class="itemCarrusel" id="itemCarrusel-1">
            <div class="targetaCarrusel" id="targetaCarrusel-1"> 
                <img src="{{ url_for('static', filename='img/pan-yellow.jpg')}}" alt="item-1-Carrusel" class="imgCarrusel">
            </div>        
                <div class="flechasCarrusel">
                <a href="#itemCarrusel-3">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#itemCarrusel-2">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>

            <div class="medio-container">
            <div class="itemCarrusel" id="itemCarrusel-2">
            <div class="targetaCarrusel" id="targetaCarrusel-2">
                B
            </div>        
                <div class="flechasCarrusel">
                <a href="#itemCarrusel-1">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#itemCarrusel-3">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>

            <div class="medio-container">
            <div class="itemCarrusel" id="itemCarrusel-3">
            <div class="targetaCarrusel" id="targetaCarrusel-3">
                C
            </div>        
                <div class="flechasCarrusel">
                <a href="#itemCarrusel-2">
                    <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a href="#itemCarrusel-1">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                </div>
    </div>
</div>
        
    </main>
</div>



</div>
    
</body>
</html>
