<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>

    <header class="header">
        <img src="{{ url_for('static', filename='img/logo.jpg')}}">
    </header>

    <main class="container">
        <div class="login-box"><img src="{{url_for('static',filename='img/logoword.svg')}}" class="logoword" >   
            <h3>OficinaVirtual</h3>
            <p>Ingrese los datos para continuar</p>
            <form method="post">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" name="usuario" placeholder="Ingrese su usuario">
                <span class="msg-error"></span>
                <label for="contrasena" >Contraseña</label>
                <input type="password" name="contrasena" id="contrasena" placeholder="Ingrese su contraseña">
                <span class="msg-error"></span>
                <button type="submit" class="btn-login" href="login">Ingresar</button>            
            </form >
        
                <a class="btn-crearcuenta" href="crearcuenta">Crear cuenta</a>
            
        </div>                              
    </main>

</body>
</html>
