<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos-programados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
</head>
<body>

<header class="header">
    <img src="{{ url_for('static', filename='img/logo.jpg')}}">
    <input class="search" type="text" placeholder="Buscar por código o nombre de producto y pedido">
    <div class="user-badge">
        
        <div class="dropdown">
            <span>Hola, Giovanny</span>
            <button class="dropbtn"> ▼ </button>
            <div class="dropdown-content">
                <a href="#">Perfil</a>
                <a href="logout" class="logout">Cerrar sesión</a>
            </div>
        </div>

    </div>
</header>

<div class="layout">

    <aside class="sidebar">
        <div class="menu-lateral">
            <nav>
                <ul>
                    <li><a href='inicio'>Inicio</a></li>
                    <li><a href='pedidos_cliente'>Pedidos</a></li>
                    <li><a href='productos_cliente'>Productos</a></li>
                    <li><a href='pedidos_progra_cliente'>Pedidos Programados</a></li>
                </ul>
            </nav>
        </div>
    </aside>

    <!-- Área central -->
    <main class="content">
        <div class="pedidos-container">
        <div class="pedido-card">
        <div class="pedido-info">
            <div class="order-box">
                <div class="icon">🚢</div>
                <span>Contenedor</span>
            </div>
            
            <div class="fecha">15-Enero-2026</div>
        </div>
        <button class="btn-participar">Participar</button>
        </div>
        
        <div class="pedidos-container">
        <div class="pedido-card">
        <div class="pedido-info">
            <div class="order-box">
                <div class="icon">✈️</div>
                <span>Aéreo</span>
            </div>
            
            <div class="fecha">25-Enero-2026</div>
        </div>
        <button class="btn-participar">Participar</button>
        </div>

        <div class="pedidos-container">
        <div class="pedido-card">
        <div class="pedido-info">
            <div class="order-box">
                <div class="icon">🚢</div>
                <span>Contenedor</span>
            </div>
            
            <div class="fecha">29-febrero-2026</div>
        </div>
        <button class="btn-participar">Participar</button>
        </div>

        <div class="pedidos-container">
        <div class="pedido-card">
        <div class="pedido-info">
            <div class="order-box">
                <div class="icon">✈️</div>
                <span>Aéreo</span>
            </div>
            
            <div class="fecha">25-febrero-2026</div>
        </div>
        <button class="btn-participar">Participar</button>
        </div>
        <div class="pedidos-container">
        <div class="pedido-card">
        <div class="pedido-info">
            <div class="order-box">
                <div class="icon">✈️</div>
                <span>Aéreo</span>
            </div>
            
            <div class="fecha">29-febrero-2026</div>
        </div>
        <button class="btn-participar">Participar</button>
        </div>


    </main>
</div>

</body>
</html>
